body{
    background-color: black;
    color: darkgrey;
}
.btno{
    margin-left: 1000px;
}
/* .title{
    background-color ;
} */
.navbr{
    background-color: black;
    color: greenyellow;
}